/.idea
/.vscode
tags
TAGS
/*.db
/pbapi
/pbmigrate
/pbworker
/vendor/
/configs/local.yaml
/configs/local.*.yaml
/deploy/bonfire.yaml
/Containerfile
/tern.conf
/mk/private.mk
/scripts/sources-*/
/scripts/sources.local.conf
/scripts/rest_examples/*.local.http
/scripts/rest_examples/*.private.env.json
/dao_tests.test
