/.idea
/.vscode
tags
TAGS
/*.db
/pbapi
/pbmigrate
/pbworker
/vendor/
/config/*.env
/configs
/deploy/bonfire.yaml
/Containerfile
/tern.conf
/internal/db/seeds/*.local.sql
/mk/private.mk
/scripts/sources-api-go
/scripts/sources.local.conf
/scripts/rest_examples/*.local.http
/scripts/rest_examples/*.private.env.json
/dao_tests.test
/.fleet/
